@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'f';
  src: url('fonts/WorkSans_Complete/Fonts/Variable/WorkSans-Variable.ttf');
}


body {
  margin: 0;
  font-family: 'f';
}






/* width */
body::-webkit-scrollbar {
  width: 0px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

